out
node_modules
.vscode-test
*.tsbuildinfo
debug.log
.trae/
.vscode/nsp/
server_cpp/build*/
server_cpp/.cache/
*.dmp
nsf_lsp_*.log
nsf_lsp_crash.log
p-intellisionserver_cppbuild_mingw*
Thumbs.db
.DS_Store
