.vscode/**
.vscode-test/**
.trae/**
docs/**
documents/**
src/**
out/**
test_files/**
scripts/**
node_modules/**
server_cpp/.cache/**
server_cpp/build_mingw/**
server_cpp/include/**
server_cpp/src/**
server_cpp/tools/**
server_cpp/resources/**
**/*.ts
**/*.map
**/*.d.ts
**/*.dmp
**/*.log
**/*.vsix
**/tsconfig.json
**/tsconfig.base.json
client/node_modules/**/test/**
client/node_modules/**/tests/**
client/node_modules/**/example/**
client/node_modules/**/examples/**
client/node_modules/**/.github/**
client/node_modules/**/.travis.yml
client/node_modules/**/.editorconfig
client/node_modules/**/.eslintrc*
client/node_modules/**/CHANGELOG*
client/node_modules/**/tsconfig*.json
client/node_modules/**/.bin/**
client/node_modules/@types/**
client/node_modules/vscode-test/**
client/node_modules/.package-lock.json
client/tsconfig.tsbuildinfo
package-lock.json
client/package-lock.json
nsf_lsp_crash.log
p-intellision*
